h1, h2, h3 {
    color: #ee3538;
    font-family: 'Luckiest Guy', cursive;
    -webkit-text-stroke: black 1px;
    

}

h1 {
    font-size: 65px;
    margin-top: 20px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

html { 
    background: url(../images/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.game-container {
    width: 75%;
    height: 600px;
    margin: auto;
    background-color: white;
    border-radius: 5%;
    border: solid black 2px;
    text-align: center;
    margin-top: 30px;
}

#inner-container-left {
    width: 50%;
    float: left;

}

#inner-container-right{
    width: 50%;
    float: right;
}

.btn1 {
    color: white;
    background-color: #ee3538;
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    border-radius: 5px;
    width: 125px;
    height: 35px;
    display: inline-block;
    
    
}

#button-area {
    
    width: 100%;


}

.btn1:hover {
    background-color: #f89c44;
}

.image-area {
    width: 60%;
    margin-left: 70px;
    

}

.image-area img {
    width: 100%;
    margin: auto;
}